.container {
    background-image: url(../images/rana-sawalha-364253-unsplash.png);
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header content area */
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.41);
    padding: 18px 75px 17px 80px;
}

/* Brand */
.header__brand {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    transition: all 0.2s;
}

.header__brand:hover {
    color: #3CB878;
}

/* Navigation */
.header__nav-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Navigation`s icons */

.header__nav-list {
    display: flex;
}

.header__nav-item:nth-child(even) {
    margin: 0 28px 0 28px;
}

.header__nav-item:last-child {
    margin-right: 25px;
}

.header__nav-link > svg > g > path {
    transition: fill 0.2s ease;
}

.header__nav-link:hover > svg > g > path {
    fill: #3CB878;
}

/* Authorization */
.header__authorization {
    display: flex;
    align-self: center;
    padding: 5px 0 4px 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    color: #ffffff;
}

.header__authorization-text {
    text-transform: capitalize;
}

.header__authorization-link {
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
}

.header__authorization-link:hover {
    color: #3CB878;
}

/* Main */
.main {
    display: flex;
    height: calc(100vh - 58px);
    justify-content: center;
    align-items: center;

}

/* Form */
.form {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    width: 444px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px 60px 30px 60px;
    box-shadow: 2px 3px 18px 0 rgba(0, 0, 0, 0.52);
    height: fit-content;
}

/* Navigation */
.form__nav {
    display: flex;
    justify-content: space-between;

}

.form__title {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 20px;
}

.form__title::before {
    content: '';
    position: absolute;
    background-color: #3cb878;
    left: 0;
    width: 18px;
    height: 18px;
}

.form__nav-link {
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: #3cb878;
    padding-bottom: 1px;
}

.form__nav-link:hover {
    color: #01813F;
    text-decoration: underline;
}

/* Button container */
.form__btn-container {
    display: flex;
    justify-content: space-between;
    margin: 17px 1px 30px 1px;
}

.form__btn {
    position: relative;
    display: flex;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    width: 160px;
    border: 1px solid white;

    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.form__btn--google {
    background-color: #DF4A32;
    padding: 15px 27px 14px 12px;
    border-left: 2px solid white;
}

.form__btn--facebook {
    background-color: #305DB8;
    padding: 11px 20px 11px 10px;
    border-right: 2px solid white;
}

.form__btn--google:before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 30%;
    height: 28px;
    width: 1px;
    background-color: #2B0D09;
    opacity: 10%;
}

.form__btn--facebook:before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 30%;
    height: 28px;
    width: 1px;
    background-color: #0A162F;
    opacity: 10%;
}

.form__btn--google:hover {
    background-color: #AB1F09;
}

.form__btn--facebook:hover {
    background-color: #022263;
}

/* Manual sign up area */
.form__legend {
    position: relative;
    font-size: 14px;
    margin: auto;
    padding: 0 19px 0 19px;
}

.form__legend:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 150px;
    background-color: #F2F2F2;
    top: 60%;
    left: 70%;
}

.form__legend:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 150px;
    background-color: #F2F2F2;
    top: 60%;
    left: -255%;
}

.form__input {
    margin: 4px 0 4px 0;
    border: 1px solid #eaeaea;
    padding: 15px 20px 15px 20px;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    color: #000000;
    transition: box-shadow 0.2s ease-in;
}

.form__input:focus {
    border: none;
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.21);
    margin: 17px 0 12px 0;
}

.form__input::placeholder {
    text-transform: capitalize;
    font-size: 14px;
    color: #bebebe;
}

/* Form checkbox */
.form__terms-wrapper {
    position: relative;
    padding: 12px 0 20px;
    display: flex;
    align-items: center;
}

.form__terms-checkbox {
    position: relative;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
}

.form__terms-checkmark {
    position: absolute;
    top: 22%;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #eaeaea;
    cursor: pointer;
}

.form__terms-text {
    display: inline-block;
    font-size: 14px;
    margin-left: 8px;
}

.form__terms-text::first-letter {
    text-transform: uppercase;
}

.terms__link {
    text-transform: capitalize;
    text-decoration: none;
    color: #3cb878;
}

.terms__link:hover {
    color: #01813F;
    text-decoration: underline;
}

.form__terms-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form__terms-wrapper .form__terms-checkbox:checked ~ .form__terms-checkmark:after {
    display: block;
}

.form__terms-wrapper .form__terms-checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Form submit button */
.form__submit-btn {
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    background-color: #3CB878;
    padding-top: 17px;
    padding-bottom: 18px;
    cursor: pointer;
    width: 100%;
}

.form__submit-btn:hover {
    background-color: #01813F;
}